<!DOCTYPE html>
<html>
<head>
    <title>Formulaire de commande</title>
</head>
<body>
<h1>Formulaire de commande</h1>
<form action="/commande" method="POST">
    <div>
        <label for="nomClient">Nom :</label>
        <input type="text" id="nomClient" name="nomClient" required>
    </div>
    <div>
        <label for="numeroTelephone">Numéro de téléphone :</label>
        <input type="text" id="numeroTelephone" name="numeroTelephone" required>
    </div>
    <div>
        <label for="jour_recuperation">Jour de récupération :</label>
        <input type="date" id="jour_recuperation" name="jour_recuperation" required>
    </div>
    <div>
        <label for="commandes_fruits">Fruits :</label>
        <select id="commandes_fruits" name="commandes_fruits" multiple required>
            <option th:each="fruits : ${fruits}" th:value="${fruits.id}" th:text="${fruits.nom}"></option>
        </select>
    </div>
    <div>
        <label for="commandes_legumes">Légumes :</label>
        <select id="commandes_legumes" name="commandes_legumes" multiple required>
            <option th:each="legumes : ${legumes}" th:value="${legumes.id}" th:text="${legumes.nom}"></option>
        </select>
    </div>
    <div>
        <button type="submit">Enregistrer la commande</button>
    </div>
</form>
</body>
</html>
